
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dossier Eleve</title>
    <link rel="icon" type="image/png" href="{% static 'icone/CBA.png' %}">
      <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <!-- CSS Custom -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <link rel="stylesheet" href="{% static '/css/Dossier_Eleves.css' %}"> -->
        <link rel="stylesheet" href="{% static 'app_eleve/css/eleve.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <div class="sidebar">
       <div class="logo">
     <img src="{% static '/icone/CBA.png' %}" alt="Logo SGCBA" class="logo-img">  
    <span>SGCBA</span>
</div>

       <nav>
  <ul>
    <li id="menu-dashboard"><a href="{% url 'tableau_de_bord' %}"><i class="fas fa-th-large"></i>TABLEAU DE BORD</a></li>
    <li id="menu-inscription"><a href="{% url 'inscription' %}"><i class="fa-solid fa-notes-medical"></i> Inscription</a></li>
    <li id="menu-eleve"><a href="{% url 'eleve' %}"class="active"><i class="fa-solid fa-user-tie"></i> Eleve</a></li>
    <li id="menu-presence"><a href="{% url 'presence' %}"><i class="fas fa-chalkboard-teacher"></i> Presence</a></li>
    <li id="menu-note"><a href="{% url 'note' %}"><i class='bx bx-note'></i> Note</a></li>
    <li id="menu-bulletin"><a href="{% url 'bulletin' %}"><i class="fa-solid fa-square-poll-horizontal"></i> Bulletin</a></li>
     <li id="menu-classe"><a href="{% url 'classe' %}"><i class="fa-solid fa-square-poll-horizontal"></i> Classe</a></li>
    <li id="menu-utilisateur"><a href="{% url 'utilisateurs' %}"><i class="fa-solid fa-user"></i> Utilisateur</a></li>
    <li id="menu-parametre"><a href="{% url 'parametre' %}"><i class="fa-solid fa-gear"></i> Parametres</a></li>
  </ul>
</nav>
       
    </div>

    <div class="main-content">
        <div class="header">
            <h1>DOSSIER ELEVE</h1>
            <div class="search-profile">
                <div class="search-bar">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Rechercher Inscription, Élèves, Pre...">
                </div>
               <div class="profile">
    <i class="fas fa-bell notification-icon"></i>
    <div class="user-avatar" id="profileDropdownToggle">
    <img src="{{ user_photo|default:'/static/image/pro.png' }}" alt="Profil">
</div>

    <!-- Dropdown menu -->
    <div class="profile-dropdown" id="profileDropdown">
        <ul>
            <li><a href="{% url 'connexion' %}">Déconnecter</a></li>
        </ul>
    </div>
</div>
 </div>
        </div>


  <div class="container">
   

    <!-- Bouton Ajouter -->
    <div class="mb-3 text-end">
      <button id="btnShowForm" class="btn btn-primary btn-custom">Ajouter</button>
    </div>

    <!-- Formulaire (modal) -->
    <div id="formModal" class="modal-overlay">
      <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <h4 class="mb-3">Dossier élève</h4>
        <form id="inscriptionForm">
          <div class="row mb-3">
            <div class="col-md-4">
              <label class="form-label">Code élève</label>
              <input type="text" class="form-control" placeholder="Code" required>
            </div>
            <div class="col-md-4">
              <label class="form-label">Nom</label>
              <input type="text" class="form-control" placeholder="Nom" required>
            </div>
            <div class="col-md-4">
              <label class="form-label">Prénom</label>
              <input type="text" class="form-control" placeholder="Prénom" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label">Sexe</label>
              <select class="form-select">
                <option>Masculin</option>
                <option>Féminin</option>
              </select>
            </div>
            <div class="col-md-5">
              <label class="form-label">Adresse</label>
              <input type="text" class="form-control" placeholder="Adresse" required>
            </div>
            <div class="col-md-4">
              <label class="form-label">Classe</label>
              <input type="text" class="form-control" placeholder="Classe" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              <label class="form-label">Téléphone</label>
              <input type="text" class="form-control" placeholder="Téléphone" required>
            </div>
            <div class="col-md-4">
              <label class="form-label">Nom Tuteur</label>
              <input type="text" class="form-control" placeholder="Nom Tuteur" required>
            </div>
            <div class="col-md-4">
              <label class="form-label">Téléphone Tuteur</label>
              <input type="text" class="form-control" placeholder="Téléphone Tuteur" required>
            </div>
          </div>

          <div class="text-end">
            <button type="submit" class="btn btn-custom btn-ajouter">Ajouter</button>
            {% comment %} <button type="submit" class="btn btn-success btn-custom">Ajouter</button> {% endcomment %}
            <button type="button" id="cancelForm" class="btn btn-secondary btn-custom">Fermer</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Options affichage -->
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div>
        <label>Afficher 
          <select class="form-select d-inline w-auto">
            <option>10</option>
            <option>25</option>
            <option>50</option>
          </select> 
          Dossier Eleve
        </label>
      </div>
    </div>
  <br>
    <!-- Table -->
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="tableEleves">
       <thead class="table-header-blue">
          <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Sexe</th>
            <th>Adresse</th>
            <th>Classe</th>
            <th>Téléphone</th>
            <th>Nom Tuteur</th>
            <th>Téléphone Tuteur</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i></button>
              <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- JS -->
  <script src="{% static 'app_eleve/js/eleve.js' %}"></script>
  <script src="{% static 'js/charts.js' %}"></script>
  <script src="{% static 'js/role-control.js' %}"></script>



</body>
</html>