
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulletin</title>
    <link rel="icon" type="image/png" href="{% static 'icone/CBA.png' %}">
    
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   <link rel="stylesheet" href="{% static 'app_bulletin/css/bulle.css' %}">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/role-control.js' %}"></script>
    
</head>
<body>

    <div class="sidebar">
       <div class="logo">
     <img src="{% static '/icone/CBA.png' %}" alt="Logo SGCBA" class="logo-img">  
    <span>SGCBA</span>
</div>

      <nav>
  <ul>
    <li id="menu-dashboard"><a href="{% url 'tableau_de_bord' %}"><i class="fas fa-th-large"></i>TABLEAU DE BORD</a></li>
    <li id="menu-inscription"><a href="{% url 'inscription' %}"><i class="fa-solid fa-notes-medical"></i> Inscription</a></li>
    <li id="menu-eleve"><a href="{% url 'eleve' %}"><i class="fa-solid fa-user-tie"></i> Eleve</a></li>
    <li id="menu-presence"><a href="{% url 'presence' %}"><i class="fas fa-chalkboard-teacher"></i> Presence</a></li>
    <li id="menu-note"><a href="{% url 'note' %}"><i class='bx bx-note'></i> Note</a></li>
    <li id="menu-bulletin"><a href="{% url 'bulletin' %}"class="active"><i class="fa-solid fa-square-poll-horizontal"></i> Bulletin</a></li>
     <li id="menu-classe"><a href="{% url 'classe' %}"><i class="fa-solid fa-square-poll-horizontal"></i> Classe</a></li>
    <li id="menu-utilisateur"><a href="{% url 'utilisateurs' %}"><i class="fa-solid fa-user"></i> Utilisateur</a></li>
    <li id="menu-parametre"><a href="{% url 'parametre' %}"><i class="fa-solid fa-gear"></i> Parametres</a></li>
  </ul>
</nav>
       
    </div>

  
    <div style="display:none;">
    {% csrf_token %}
</div>

    <div class="main-content">
        <div class="header">
            <h1>BULLETIN</h1>
            <div class="search-profile">
                <div class="search-bar">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Rechercher Inscription, Élèves, Pre...">
                </div>
               <div class="profile">
    <i class="fas fa-bell notification-icon"></i>
    <div class="user-avatar" id="profileDropdownToggle">
    <img src="{{ user_photo|default:'/static/image/pro.png' }}" alt="Profil">
</div>

    <!-- Dropdown menu -->
    <div class="profile-dropdown" id="profileDropdown">
        <ul>
            <li><a href="{% url 'connexion' %}">Déconnecter</a></li>
        </ul>
    </div>
</div>
 </div>
        </div>
 

{% comment %} intefas bulletin an {% endcomment %}

<div class="container">

  <div class="top-right">
    <button id="btnAfficherFormulaire">Générer Bulletin</button>
  </div>

  <div id="formulairePage">
    <h1>Antre kòd elèv ou vle generer bulletin pou li a</h1>
    <input type="text" id="inputCodeForm" placeholder="Entrez code élève">
    <div id="formulaireButtons">
      <button id="btnValiderForm">Valider</button>
      <button id="btnRetourForm">Retour</button>
    </div>
  </div>

  <div id="listeContainer">
    <table id="listeBulletin">
        <h2>La liste des Bulletins</h2>
      <thead>
        <tr>
          <th>Code Élève</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Classe</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="btnRechercher">Afficher</button></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="btnRechercher">Afficher</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="bulletinPage"></div>
  <div id="logoCachetContainer"></div>
</div>

<script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/charts.js' %}"></script>
<script src="{% static 'app_bulletin/js/bulle.js' %}"></script>

</body>
</html>
