
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presence</title>
    <link rel="icon" type="image/png" href="{% static 'icone/CBA.png' %}">
    
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/Presen.css' %}"><script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <div class="sidebar">
       <div class="logo">
     <img src="{% static '/icone/CBA.png' %}" alt="Logo SGCBA" class="logo-img">  
    <span>SGCBA</span>
</div>

      <nav>
  <ul>
    <li id="menu-dashboard"><a href="{% url 'tableau_de_bord' %}"><i class="fas fa-th-large"></i>TABLEAU DE BORD</a></li>
    <li id="menu-inscription"><a href="{% url 'Inscriptions' %}"><i class="fa-solid fa-notes-medical"></i> Inscription</a></li>
    <li id="menu-eleve"><a href="{% url 'Eleve' %}"><i class="fa-solid fa-user-tie"></i> Eleve</a></li>
    <li id="menu-presence"><a href="{% url 'Presence' %}"class="active"><i class="fas fa-chalkboard-teacher"></i> Presence</a></li>
    <li id="menu-note"><a href="{% url 'Note' %}"><i class='bx bx-note'></i> Note</a></li>
    <li id="menu-bulletin"><a href="{% url 'Bulletin' %}"><i class="fa-solid fa-square-poll-horizontal"></i> Bulletin</a></li>
    <li id="menu-utilisateur"><a href="{% url 'Utilisateurs' %}"><i class="fa-solid fa-user"></i> Utilisateur</a></li>
    <li id="menu-parametre"><a href="{% url 'Parametre' %}"><i class="fa-solid fa-gear"></i> Parametres</a></li>
  </ul>
</nav>
       
    </div>

    <div class="main-content">
        <div class="header">
            <h1>PRESENCE</h1>
            <div class="search-profile">
                <div class="search-bar">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Rechercher Inscription, Élèves, Pre...">
                </div>
               <div class="profile">
    <i class="fas fa-bell notification-icon"></i>
    <div class="user-avatar" id="profileDropdownToggle">
        <img src="{% static '/image/pro.png' %}"> 
    </div>

    <!-- Dropdown menu -->
    <div class="profile-dropdown" id="profileDropdown">
        <ul>
            <li><a href="{% url 'connexion' %}">Déconnecter</a></li>
        </ul>
    </div>
</div>
 </div>
        </div>

<!-- ajou  -->

<div class="table-container">
    <!-- Bouton Générer QR anlè agoch -->
    <div class="boutonajouter">
       <button class="btn btn-add">Ajouter Présence</button>
    </div>
    <!-- Bouton Générer QR anlè agoch -->
   <div class="table-header">
    <button class="btn btn-qr">Générer QR</button>
</div>


<!-- Options affichage -->
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div>
        <label>Afficher 
          <select class="form-select d-inline w-auto">
            <option>10</option>
            <option>25</option>
            <option>50</option>
          </select> 
          Presence
        </label>
      </div>
    </div>
  <br>
    <!-- Tab présence -->
    <table class="presence-table">
        <thead>
            <tr>
                <th>Code Élève</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Classe</th>
                <th>Date Présence</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Jean</td>
                <td>Paul</td>
                <td>Terminale</td>
                <td>2025-09-29</td>
        </tbody>
    </table>
</div>



 <script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/charts.js' %}"></script>
<script src="{% static 'js/role-control.js' %}"></script>

</body>
</html>