{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>SplashScreen</title>
  <link rel="stylesheet" href="{% static 'css/SplashScreen.css' %}">
</head>
<body>
  <div class="splash-container">
    <div class="circle-wrapper">
      <div class="circle"></div>  <!-- Cercle ki vire -->
      <img src="{% static 'image/logo.png' %}" alt="Logo Ekol" class="logo"/> <!-- Logo fiks -->
    </div>
  </div>

  <script>
    // Apre 3 segonn → ale sou login
    setTimeout(function(){
      window.location.href = "{% url 'connexion' %}";
    }, 3000);
  </script>
</body>
</html>
