{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGCBA TABLEAU DE BORD</title>
    <link rel="icon" type="image/png" href="{% static 'icone/CBA.png' %}">
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/tabs.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <div class="sidebar">
       <div class="logo">
           <img src="{% static '/icone/CBA.png' %}" alt="Logo SGCBA" class="logo-img">  
           <span>SGCBA</span>
       </div>

      <nav>
        <ul>
          <li id="menu-dashboard"><a href="{% url 'tableau_de_bord' %}" class="active"><i class="fas fa-th-large"></i>TABLEAU DE BORD</a></li>
          <li id="menu-inscription"><a href="{% url 'inscription' %}"><i class="fa-solid fa-notes-medical"></i> Inscription</a></li>
          <li id="menu-eleve"><a href="{% url 'eleve' %}"><i class="fa-solid fa-user-tie"></i> Eleve</a></li>
          <li id="menu-presence"><a href="{% url 'presence' %}"><i class="fas fa-chalkboard-teacher"></i> Presence</a></li>
          <li id="menu-note"><a href="{% url 'note' %}"><i class='bx bx-note'></i> Note</a></li>
          <li id="menu-bulletin"><a href="{% url 'bulletin' %}"><i class="fa-solid fa-file-lines"></i> Bulletin</a></li>
           <li id="menu-classe"><a href="{% url 'classe' %}"><i class="fa-solid fa-square-poll-horizontal"></i> Classe</a></li>
          <li id="menu-utilisateur"><a href="{% url 'utilisateurs' %}"><i class="fa-solid fa-user"></i> Utilisateur</a></li>
          <li id="menu-parametre"><a href="{% url 'parametre' %}"><i class="fa-solid fa-gear"></i> Parametres</a></li>
        </ul>
      </nav>
    </div>

    <div class="main-content">
        <div class="header">
            <h1>TABLEAU DE BORD</h1>
            <div class="search-profile">
                {% comment %} <div class="search-bar">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Rechercher Inscription, Élèves, Pre...">
                </div> {% endcomment %}
                <div class="profile">
                    <i class="fas fa-bell notification-icon"></i>
                    <h6 class="username"><span id="username"></span></h6>
                    <div class="user-avatar" id="profileDropdownToggle">
    <img src="{{ user_photo|default:'/static/image/pro.png' }}" alt="Profil">
</div>


                    <!-- Dropdown menu -->
                    <div class="profile-dropdown" id="profileDropdown">
                    
                        <ul>
                           <li><a href="{% url 'logout' %}">Déconnecter</a></li>
                         

                           <li><a href="#" onclick="document.getElementById('photoInput').click(); return false;">Changer photo profil</a></li>
                        </ul>
                       <input type="file" id="photoInput" accept="image/*" style="display:none" onchange="uploadPhoto()">
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-grid">
            <div class="left-column">
                <div class="card top-performers">
                    <div class="card-header">
                        <h2>Meilleur Performeur</h2>
                        <div class="tabs">
                            <span class="active">Aujourd'hui</span>
                            <span>Mois</span>
                            <span>Année</span>
                        </div>
                        <a href="#" class="action-button">Voir tout</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Note</th>
                                <th>Année</th>
                                <th>Heure</th>
                                <th>Classe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div class="profile-info"></div></td>
                                <td>0</td>
                                <td>0</td>
                                <td>00:00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><div class="profile-info"></div></td>
                                <td>0</td>
                                <td>0</td>
                                <td>00:00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><div class="profile-info"></div></td>
                                <td>0</td>
                                <td>0</td>
                                <td>00:00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><div class="profile-info"></div></td>
                                <td>0</td>
                                <td>0</td>
                                <td>00:00</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card schedule">
                    <div class="card-header">
                        <h2>Dernières activités scolaires</h2>
                    </div>
                    <div class="calendar"></div>
                </div>
            </div>

            <div class="right-column">
                <div class="summary-cards">
                    <div class="summary-card students">
                        <div class="icon"><i class="fa-solid fa-notes-medical"></i></div>
                        <div class="value">{{ total_inscriptions }}</div>
                        <div class="label">Total Inscription</div>
                    </div>
                    <div class="summary-card income">
    <div class="icon"><i class="fa-solid fa-user-tie"></i></div>
    <div class="value">{{ total_eleve }}</div>
    <div class="label">Total Eleve</div>
</div>

                    <div class="summary-card expenses">
                        <div class="icon"><i class="fa-solid fa-percent"></i></div>
                        <div class="value">0%</div>
                        <div class="label">Taux Reussite</div>
                    </div>
                </div>

                <div class="card payment">
                    <div class="card-header">
                        <h2>Présence</h2>
                        <a href="#" class="action-button">Voir tout</a>
                    </div>
                    <div class="payment-section">
                        <div class="payment-chart">
                            <canvas id="paymentPieChart"></canvas>
                        </div>
                        <div class="payment-list">
                            <ul>
                                <li><span><i class="fas fa-circle text-full-blue"></i> Toujours Present</span></li>
                                <li><span><i class="fas fa-circle text-red"></i> Élèves supprimés(e)</span></li>
                                <li><span><i class="fas fa-circle text-green"></i> Tres Present</span></li>
                                <li><span><i class="fas fa-circle text-orange"></i> Presence en attente </span></li>
                                <li><span><i class="fas fa-circle text-info"></i>Peu Present </span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card attendance">
                    <div class="card-header">
                        <h2>Présence</h2>
                        <a href="#" class="action-button">Voir tout</a>
                    </div>
                    <div class="attendance-charts">
                        <div class="attendance-chart-container">
                            <h3>Élèves</h3>
                            <canvas id="studentsAttendanceChart"></canvas>
                        </div>
                        <div class="attendance-chart-container">
                            <h3>Notes</h3>
                            <canvas id="teachersAttendanceChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts pour gérer l'utilisateur connecté -->
    <script>
    document.addEventListener("DOMContentLoaded", () => {
        
        const user = JSON.parse(localStorage.getItem("user"));
        if (!user) {
            window.location.href = "/connexion/";
        } else {
            document.getElementById("username").textContent = user.username;
        }
    });

    let inactivityTimer;

    function resetInactivityTimer() {
        clearTimeout(inactivityTimer);
        inactivityTimer = setTimeout(() => {
            fetch('/api/logout/', {
                method: 'GET',
                credentials: 'same-origin'
            }).finally(() => {
                // ✅ Remplace alert() par SweetAlert2
                Swal.fire({
                    title: 'Session expirée',
                    text: 'Vous avez été déconnecté automatiquement pour inactivité.',
                    icon: 'warning',
                    confirmButtonText: 'OK',
                    allowOutsideClick: false,
                    allowEscapeKey: false
                }).then(() => {
                    window.location.href = '/connexion/';
                });
            });
        },2 * 60 * 1000); // 2 minutes d'inactivité
    }

    resetInactivityTimer();

    window.addEventListener('mousemove', resetInactivityTimer);
    window.addEventListener('keydown', resetInactivityTimer);
    window.addEventListener('scroll', resetInactivityTimer);
    window.addEventListener('click', resetInactivityTimer);





    </script>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const user = JSON.parse(localStorage.getItem("user"));
        if (!user) return;

        document.querySelectorAll("nav ul li").forEach(li => li.style.display = "none");

        const role = user.role;

        if (role === "directeur") {
            document.querySelectorAll("nav ul li").forEach(li => li.style.display = "block");
        } 
        else if (role === "secretaire") {
            document.getElementById("menu-dashboard").style.display = "block";
            document.getElementById("menu-inscription").style.display = "block";
            document.getElementById("menu-eleve").style.display = "block";
            document.getElementById("menu-presence").style.display = "block";
        } 
        else if (role === "censeur") {
            document.querySelectorAll("nav ul li").forEach(li => li.style.display = "block");
            document.getElementById("menu-utilisateur").style.display = "none";
            document.getElementById("menu-parametre").style.display = "none";
        }
    });
    </script>

   <script>
function uploadPhoto() {
    const fileInput = document.getElementById('photoInput');
    const file = fileInput.files[0];
    if (!file) return;

    // Récupérer ID itilizatè a soti nan session/localStorage
    const user = JSON.parse(localStorage.getItem('user'));
    if (!user) return alert('Utilisateur non trouvé');

    const formData = new FormData();
    formData.append('photo', file);
    formData.append('user_id', user.id);  // voye id itilizatè a

    fetch('/api/upload-photo/', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'  // si w ap itilize SessionAuthentication
        }
    })
    .then(res => res.json())
    .then(data => {
        if (data.photo_url) {
            // Mete nouvo foto san reload
            document.querySelector('#profileDropdownToggle img').src = data.photo_url;

            // Update user object nan localStorage
            user.photo = data.photo_url;
            localStorage.setItem('user', JSON.stringify(user));
        } else {
            alert(data.error || 'Erreur lors de la mise à jour');
        }
    })
    .catch(err => {
        console.error(err);
        alert('Erreur de connexion à l\'API');
    });
}







document.addEventListener('DOMContentLoaded', () => {
    const toggle = document.getElementById('profileDropdownToggle');
    const dropdown = document.getElementById('profileDropdown');

    if (toggle && dropdown) {
        toggle.addEventListener('click', (e) => {
            e.stopPropagation(); // Pa fè click la monte nan document
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        });

        document.addEventListener('click', () => {
            dropdown.style.display = 'none';
        });

        // Confirmation de déconnexion
       const logoutLink = dropdown.querySelector("a");
        if (logoutLink) {
            logoutLink.addEventListener('click', function(e) {
                e.preventDefault();
                Swal.fire({
                  title: 'Déconnexion',
                  text: "Êtes-vous sûr de  vouloir déconnecter ?",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Oui',
                  cancelButtonText: 'Non'
                }).then((result) => {
                  if (result.isConfirmed) {
                    window.location.href = this.href;
                  }
                });
            });
        }
    }






    
});


//upload photo de profil

function uploadPhoto() {
    const user = JSON.parse(localStorage.getItem("user"));
    const fileInput = document.getElementById("photoInput");

    if (!fileInput.files.length) return;

    const formData = new FormData();
    formData.append("photo", fileInput.files[0]);
    formData.append("user_id", user.id);  // voye id itilizatè

    // 👉 Ranmase CSRF token la
    const csrftoken = getCookie('csrftoken');

    fetch(`/api/upload-photo/`, {
        method: "POST",
        headers: {
            "X-CSRFToken": csrftoken  // ajoute CSRF token nan headers
        },
        body: formData,
    })
    .then(res => res.json())
    .then(data => {
        if (data.photo_url) {
            // ajoute timestamp pou evite cache
            document.querySelector(".user-avatar img").src = data.photo_url + "?t=" + new Date().getTime();
            alert("Photo de profil mise à jour !");
        } else {
            alert("Erreur lors de la mise à jour de la photo");
        }
    })
    .catch(err => console.error(err));
}



// Fonksyon pou jwenn CSRF
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + "=")) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>


    <script src="{% static 'js/d.js' %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
</body>
</html>
